{% extends "main.html" %}
{% block contentpanel %}

        <div class="contentpanel">

            <div class="row">

                <div class="col-md-12">
                    <h5 class="subtitle mb5">栏目编辑</h5>

                    <p class="mb20">An example of table with actions in every rows.</p>

                    <div class="table-responsive">
                        <table class="table table-primary table-hover mb30">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>ID</th>
                                <th>Username</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>
                                    <a href=""><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                    <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>
                                    <a href=""><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                    <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>
                                    <a href=""><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                    <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->

                </div><!-- col-md-6 -->


                <!--<div class="col-sm-6 col-md-3">-->
                <!--<div class="panel panel-success panel-stat">-->
                <!--<div class="panel-heading">-->

                <!--<div class="stat">-->
                <!--<div class="row">-->
                <!--<div class="col-xs-4">-->
                <!--<img src="{{static_url('admin/images/is-user.png')}}" alt=""/>-->
                <!--</div>-->
                <!--<div class="col-xs-8">-->
                <!--<small class="stat-label">Visits Today</small>-->
                <!--<h1>900k+</h1>-->
                <!--</div>-->
                <!--</div>&lt;!&ndash; row &ndash;&gt;-->

                <!--<div class="mb15"></div>-->

                <!--<div class="row">-->
                <!--<div class="col-xs-6">-->
                <!--<small class="stat-label">Pages / Visit</small>-->
                <!--<h4>7.80</h4>-->
                <!--</div>-->

                <!--<div class="col-xs-6">-->
                <!--<small class="stat-label">% New Visits</small>-->
                <!--<h4>76.43%</h4>-->
                <!--</div>-->
                <!--</div>&lt;!&ndash; row &ndash;&gt;-->
                <!--</div>&lt;!&ndash; stat &ndash;&gt;-->

                <!--</div>&lt;!&ndash; panel-heading &ndash;&gt;-->
                <!--</div>&lt;!&ndash; panel &ndash;&gt;-->
                <!--</div>&lt;!&ndash; col-sm-6 &ndash;&gt;-->


            </div><!-- row -->


        </div><!-- contentpanel -->


{% end %}